<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="All">
            <directory>./Tests/</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>./Tests/Unit/</directory>
        </testsuite>
        <testsuite name="Validator">
            <directory>./Tests/Unit/Validator/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>